---
import type { MarkdownLayoutProps } from 'astro'
import { format } from 'date-fns'

import { getEntry } from 'astro:content'
import BaseLayout from '@layouts/BaseLayout.astro'
import { Image } from 'astro:assets'
import type { BlogSchemaType, AurthorSchemaType } from '../schemas'

import TagContainer from '@components/TagContainer.astro'

type ComboSchemaType = BlogSchemaType & AurthorSchemaType

type Props = MarkdownLayoutProps<ComboSchemaType>
const { frontmatter, url } = Astro.props

const author = await getEntry('authors', frontmatter.author.id)
---

<BaseLayout pageTitle={frontmatter.title} url={url}>
    <h2>{frontmatter.description}</h2>

    {
        author && (
            <p>
                Written by: {author.data.name},{' '}
                {format(frontmatter.pubDate, 'd MMM, yyyy')}
            </p>
        )
    }

    {
        frontmatter.image && (
            <Image
                width={frontmatter.image.width || 800}
                height={frontmatter.image.height || 300}
                src={frontmatter.image.url}
                alt={frontmatter.image.alt}
                loading="lazy"
                decoding="async"
            />
        )
    }

    <TagContainer tags={frontmatter.tags} />

    <slot />
</BaseLayout>
